a, i, p, b {
    color: black;
}

a:hover {
    color: maroon;
}

h2, .printTheme > p {
    color: maroon;
}

div.bandeau {
    background-color: burlywood;
}

.bandeauColor {
    color: black;
}

.bandeauColor::before, .bandeauColor::after {
    background-color: black;
}

.bandeauColor:hover::before,
.bandeauColor:hover::after {
    background-color: maroon;
}

.bandeauColor:hover,
.bandeauColor:hover {
    color: maroon;
}

.boutonPlus {
    color: black;
}

.boutonPlus span{
    background-color: burlywood;
}

.boutonBack span {
    background-color: peru;
}

body {
    background-color: bisque;
    color: black;
}

.infobulle {
    background-color: rgb(0 0 0 / 15%);
}

.type2 {
    background-color: burlywood;
}

.type3 {
    background-color: navajowhite;
}

.type4 {
    background-color: burlywood;
}

label {
    color: black;
}

.categorie > section {
    border: solid 1px rgb(0 0 0 / 15%);
    background: rgb(0 0 0 / 5%);
}

.categorie > section > section {
    border-right: solid 1px rgb(0 0 0 / 15%);
}

.categorie>div {
    border: solid 1px rgb(0 0 0 / 15%);
    background: rgb(0 0 0 / 5%);
}

.categorie>div>div:last-of-type {
    border-right: solid 0 rgb(0 0 0 / 15%);
}

.categorie>div>div {
    border-right: solid 1px rgb(0 0 0 / 15%);
}

input[type=text], input[type=email] {
    background: rgb(0 0 0 / 5%);
    border: solid 1px rgb(0 0 0 / 15%);
}

textarea {
    background: rgb(0 0 0 / 5%);
    border: solid 1px rgb(0 0 0 / 15%);
}

.formButton {
    color: black;
}

.formButton::before {
    background-color: black;
}

.formButton:hover {
    color: white;
}

.bandeauColor {
    color: black;
}

.bandeauColor::before, .bandeauColor::after {
    background-color: black;
}

@media screen and (max-width: 999px) {
    li:first-of-type > .bandeauColor {
        color: orange;
    }
}

@media screen and (min-width: 1030px) {
    .borderStyle {
        border-left: solid black;
    }
}

@media screen and (max-width: 1029px) {
    .borderStyle {
        border-top: solid black;
    }
}
